* {
	font-family: ShopifySans, Helvetica, Arial, sans-serif !important;
}


/* section 1 */

.px-50-header {
	height: 72px;
}

.h-menu {
	list-style: none;
	padding: 0px;
	margin: 0;
	text-align: left;
}

.h-menu li {
	display: inline;
}

.h-menu li a {
	display: inline-block;
	text-decoration: none;
	padding: 0px 20px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	line-height: 3;
}

.header-btn-box {
	display: block;
	float: right;
	margin: 30px 0px;
}

.header-btn {
	padding: 15px 28px;
	text-decoration: none;
	font-weight: 700;
	background-color: white;
	color: black;
	border-radius: 50px;
	line-height: 1;
	border: 2px solid transparent;
	transition: 0.4s;
}

.header-btn:hover {
	border: 2px solid white;
	color: white;
	background-color: transparent;
	transition: 0.4s;
}

.log_in-header {
	text-decoration: none;
	color: white;
	margin-right: 10px;
}

.log_in-header:hover {
	text-decoration: underline;
	color: white;
}

.header-btn-2 {
	font-size: 35px !important;
	color: white !important;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	border-radius: 50px;
}


.offmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.offmenu li {
	line-height: 3;
}

.offmenu li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 10px 56px;
	font-weight: 600;
	transition: 0.2s;
	border-radius: 50px;
}

.offmenu li a:hover {
	background-color: white;
	color: black;
	/* text-decoration: underline; */
	transition: 0.2s;
}

.offcanvas-header {
	background-color: #000000 !important;
}

.btn-close {
	color: white !important;
	background-color: white !important;
}

.offcanvas-body {
	background-color: black !important;
}


.sticky-h {
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 1000;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	top: 30px;
	left: -44px;
	z-index: 1;
	/* border: 1px solid black; */
	min-width: 130px;
	position: absolute;
	background-color: white;
	/* padding: 0px 20px; */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black !important;
	display: block !important;
	padding: 8px 40px !important;
	text-decoration: none;
	text-align: center !important;
	transition: 0.1s;
	line-height: 1.4 !important;
}

.dropdown-content a:hover {
	background-color: rgb(222, 219, 219);
	transition: 0.1s;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/* section 1 */

/* section 2 */
.bg-clr-sec2-3{
    background-image: radial-gradient(circle at 137% 20%,#15bcdf 15%,transparent 35%),radial-gradient(circle at 105% 50%,#00ffb2 0,transparent 30%),radial-gradient(circle at 5% -20%,#00ffb2 0,transparent 20%);
}

.sec2-box h1{
    font-weight: 700;
    color:black;
	margin-bottom: 20px;
}

.sec2-box p{
	margin-bottom: 30px;
}

.sec2-mini input{
    height: 50px!important;
}

.sec2-mini a{
	text-decoration: none;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	border-radius: 10px;
	color: #fff;
	transition: 0.3s;
	font-weight: 600;
}

.sec2-box span{
	font-size:14px;
	color:#000000;
	padding: 30px 0px;
	display: block;
}

/* section 2 */

/* section 3 */

.sec3-box{
	border: 2px solid #7BEBD5;
	border-radius: 20px;
	z-index: 10000!important;
	margin-bottom: 23px;
}



.sec3-box h3{
	font-size: 30px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 20px;
}

.sec3-box p{
	color: #000000;
	margin: 20px 0px;
	font-size: 14px;
}

.sec3-box span{
	font-size: 60px;
	color: #000000;
	font-weight: 700;
	display: block;
	margin: 30px 0px 0px;
}

.sec3-box h4{
	font-size: 16px;
	color: #000000;
	line-height: 3.3;
	background-color: #EFFBF7;
	border: 1px solid #53F89B;
	text-align: center;
	font-weight: 600;
}

.sec3-box h5{
	font-size:14px;
	font-weight: 700;
	color: #000000;
	margin: 30px 0px 20px;
}

.sec3-ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sec3-ul li{
	line-height: 2.4;
}

.sec3-ul li a{
	padding-left: 20px;
	font-size:14px;
	text-decoration: none;
	color:#000000;
}

.sec3-a{
	width: 100%;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	color:white;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 50px;
	margin-top: 40px;
	border: 2px solid white;
	letter-spacing: 1px;
	transition: 0.3s;
}

.sec3-a:hover{
	transition: 0.3s;
	color: #ffffff;
}

.sec3-box2-p{
	font-weight: 600;
}

/* section 3 */

/* section 4 */

.sec4-box{
	padding: 24px;
	margin-bottom: 20px;
	border-radius: 10px;
	height: 90%;
}

.sec4-box h2{
	font-weight: 600;
}

.sec4-h2{
	font-weight: 700;
	margin-bottom: 50px;
}

/* section 4 */

/* section 5 */

.bg-clr-sec5{
	background-color: #f4fafe;
}

.sec5-box h5 ,.sec5-box1 h5{
	font-size:14px;
	font-weight: 700;
	color:#000000;
}

.sec5-box h2,.sec5-box1 h2{
	color:#000000;
	font-size: 24px;
	margin-bottom: 18px;
	font-weight: 700;
}

.sec5-box p,.sec5-box1 p{
	color:#000000;
	font-size: 18px;
	margin-bottom: 33px;
}

.sec5-box a,.sec5-box1 a{
	background-color: #000000;
	color:white;
	font-size:16px;
	font-weight: 600;
	margin: 24px 0px 0px;
	padding: 13px 20px;
	text-decoration: none;
	border-radius: 50px;
}

.sec5-box span{
	background-color: #45f298;
	display: block;
	line-height: 2.5;
	text-align: center;
	font-weight: 600;
	border-radius: 10px 10px 0px 0px;
	font-size:14px;
}

.sec5-box1 span{
	background-color: #000;
	display: block;
	line-height: 2.5;
	text-align: center;
	font-weight: 600;
	color:white;
	border-radius: 10px 10px 0px 0px;
	font-size:14px;
}

.sec5-box,.sec5-box1{
	border-radius: 10px;
	box-shadow: 0px 8px 48px rgba(24,24,27,.08),0px 4px 8px rgba(24,24,27,.04),0px 0px 2px rgba(24,24,27,.25);
	padding: 0px 0px 24px;
	border-radius: 10px;
	background-color: white;
	height: 100%;
}


/* section 5 */

/* footer */

.footer-border {
	border-top: 1px solid #CCCCCC;
	/* margin-top: 30px; */
	padding: 32px 0px;
}

.footer-box h3 {
	font-size: 16px;
	color: black;
	font-weight: 700;
}

.footer-ul {
	list-style: none;
	padding: 0;
	margin: 20px 0px 50px 0px;
}

.footer-ul li {
	line-height: 2.3;
}

.footer-ul li a {
	text-decoration: none;
	color: #18181b;
}

.footer-ul li a:hover {
	text-decoration: underline;
}

.footer-last-ul {
	list-style: none;
	padding: 0;
	margin: 0 !important;
}

.footer-last-ul li {
	display: inline;
}

.footer-last-ul li a {
	display: inline-block;
	padding: 0px 15px;
	color: black;
	text-decoration: none;
	line-height: 2.3;
}

.footer-last-ul li a:hover {
	text-decoration: underline;
}

.footer-last-box1 {
	display: flex;
}

.footer-last-box2 {
	display: flex;
}

.footer-last-box2 i {
	background-color: black;
	color: white;
	font-size: 22px;
	display: block;
	padding: 8px 8px;
	border-radius: 50px;
}

.footer-last-box2 a {
	text-decoration: none;
}

/* footer */

@media(max-width:576px) {
	.col-smm-1 {
		flex: 8.33% !important;
	}

	.col-smm-2 {
		flex: 16.66% !important;
	}

	.col-smm-3 {
		flex: 25% !important;
	}

	.col-smm-4 {
		flex: 33.33% !important;
	}

	.col-smm-5 {
		flex: 41.66% !important;
	}

	.col-smm-6 {
		flex: 50% !important;
	}

	.col-smm-7 {
		flex: 58.33% !important;
	}

	.col-smm-8 {
		flex: 66.66% !important;
	}

	.col-smm-9 {
		flex: 75% !important;
	}

	.col-smm-10 {
		flex: 83.33% !important;
	}

	.col-smm-11 {
		flex: 91.66% !important;
	}

	.col-smm-12 {
		flex: 100% !important;
	}
}

@media (max-width: 576px) {
	.header-logo {
		width: 130px !important;
		margin: 16px 0px !important;
	}

	.header-btn-box {
		margin: 16px 0px !important;
	}

	.px-50-header {
		padding: 0px 16px !important;
	}

	.header-btn-2 {
		display: flex !important;
	}

	.header-btn {
		display: none !important;
	}

	.menu {
		display: none !important;
	}

	.log_in-header {
		display: none !important;
	}

	/* section 2 */

	.mx-100-2{
		margin: 0px 16px!important;
		padding: 96px 0px!important;
	}

	.sec2-box h1{
		width: 90%!important;
		font-size:40px!important;
	}

	.sec2-box p{
		font-size: 18px!important;
	}

	.sec2-mini {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.sec2-mini input{
		width: 100% !important;
		height: 50px !important;
		margin-right: 0px !important;
		margin-bottom: 10px !important;
	}

	.sec2-mini a{
		width: 100%;
	}

	/* section 2 */		
	
	/* section 3 */

	.mx-100-3{
		margin: 0px 16px!important;
		padding: 60px 0px 80px!important;
	}

	.sec3-box{
		height: 750px!important;
	}

	.sec3-mini1
	{
		padding: 32px 20px 20px!important;
	}
	
	.sec3-mini2{
		padding: 32px 20px 30px!important;
	}	

	.sec3-box2-p{
		width: 100%!important;
	}


	/* section 3 */		

	/* section 4 */

	.mx-100-4{
		margin: 0px 16px!important;
		padding: 96px 0px!important;
	}

	.sec4-box{
		border: 2px solid lightskyblue;
		padding: 24px!important;
	}

	.sec4-h2{
		font-size: 32px!important;
	}

	.sec4-box h2{
		font-size: 18px!important;
	}

	.sec4-box p{
		font-size: 16px!important;
	}

	/* section 4 */	

	/* section 5 */

	.mx-100-5{
		margin: 0px 16px!important;
		padding: 95px 0px!important;
	}

	/* section 5 */		

	/* section 6 */

	.mx-100-6{
		margin: 50px 16px!important;
		padding: 50px 0px 50px!important;
	}

	.sec6-img{
		margin-bottom: 30px!important;
		width: 100%!important;
	}

	/* section 6 */			

    /* footer */

	.mx-100-7 {
		margin: 40px 16px 0px 16px !important;
	}

	.footer-logo {
		margin-bottom: 60px !important;
	}

	.footer-last-ul li {
		display: block !important;
	}

	.footer-last-ul li a {
		text-align: center !important;
	}

	.footer-last-box2 {
		margin-top: 30px !important;
		justify-content: center !important;
	}

	.footer-last-box2 i {
		margin: 0px 1px 0px !important;
	}

	/* footer */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.header-logo {
		width: 130px !important;
		margin: 16px 0px !important;
	}

	.header-btn-box {
		margin: 16px 0px !important;
	}

	.px-50-header {
		padding: 0px 30px !important;
	}

	.header-btn-2 {
		display: flex !important;
	}

	.menu {
		display: none !important;
	}

	.log_in-header {
		display: none !important;
	}

	/* section 2 */

	.mx-100-2{
		margin: 0px 30px!important;
		padding: 96px 0px!important;
	}

	.sec2-box h1{
		width: 90%!important;
		font-size:40px!important;
	}

	.sec2-box p{
		font-size: 18px!important;
	}

	.sec2-mini {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.sec2-mini input{
		width: 100% !important;
		height: 50px !important;
		margin-right: 0px !important;
		margin-bottom: 10px !important;
	}

	.sec2-mini a{
		width: 100%;
	}

	/* section 2 */		

	/* section 3 */

	.mx-100-3{
		margin: 0px 30px!important;
		padding: 80px 0px 80px!important;
	}

	.sec3-box{
		height: 750px!important;
	}

	.sec3-mini1
	{
		padding: 32px 20px 20px!important;
	}
	
	.sec3-mini2{
		padding: 32px 20px 30px!important;
	}	

	.sec3-box2-p{
		width: 100%!important;
	}

	/* section 3 */		

	/* section 4 */

	.mx-100-4{
		margin: 0px 30px!important;
		padding: 96px 0px!important;
	}

	.sec4-box{
		border: 2px solid lightskyblue;
		padding: 24px!important;
	}

	.sec4-h2{
		font-size: 32px!important;
	}

	.sec4-box h2{
		font-size: 18px!important;
	}

	.sec4-box p{
		font-size: 16px!important;
	}

	/* section 4 */		

	/* section 5 */

	.mx-100-5{
		margin: 0px 30px!important;
		padding: 95px 0px!important;
	}

	/* section 5 */			

	/* section 6 */

	.mx-100-6{
		margin: 50px 30px!important;
		padding: 50px 0px 50px!important;
	}

	.sec6-img{
		margin-bottom: 30px!important;
		width: 100%!important;
	}

	/* section 6 */			

    /* footer */

	.mx-100-7 {
		margin: 70px 16px 0px 30px !important;
	}

	.footer-logo {
		margin-bottom: 60px !important;
	}

	.footer-last-ul li {
		display: block !important;
	}

	.footer-last-ul li a {
		text-align: center !important;
	}

	.footer-last-box2 {
		margin-top: 30px !important;
		justify-content: center !important;
	}

	.footer-last-box2 i {
		margin: 0px 10px 0px !important;
	}

	/* footer */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.header-logo {
		width: 140px !important;
		margin: 16px 0px !important;
	}

	.header-btn-box {
		margin: 18px 0px !important;
	}

	.sec1-none {
		display: none !important;
	}

	.header-btn {
		display: none !important;
	}

	.px-50-header {
		padding: 0px 30px !important;
	}

	.header-btn-2 {
		display: flex !important;
	}

	.menu {
		display: none !important;
	}

	.log_in-header {
		display: none !important;
	}

	/* section 2 */

	.mx-100-2{
		margin: 0px 30px!important;
		padding: 96px 0px!important;
	}

	.sec2-box h1{
		width: 90%!important;
		font-size:40px!important;
	}

	.sec2-box p{
		font-size: 18px!important;
	}

	.sec2-mini {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.sec2-mini input{
		width: 50% !important;
		height: 50px !important;
		margin-right: 0px !important;
		margin-bottom: 10px !important;
	}

	.sec2-mini a{
		width: 50%;
	}

	/* section 2 */	

	/* section 3 */

	.mx-100-3{
		margin: 0px 30px!important;
		padding: 80px 0px 96px!important;
	}

	.sec3-box{
		height: 750px!important;
	}

	.sec3-mini1
	{
		padding: 32px 20px 20px!important;
	}
	
	.sec3-mini2{
		padding: 32px 20px 30px!important;
	}	

	.sec3-box2-p{
		width: 73%!important;
	}

	/* section 3 */		

	/* section 4 */

	.mx-100-4{
		margin: 0px 30px!important;
		padding: 96px 0px!important;
	}

	.sec4-h2{
		font-size: 28px!important;
	}

	.sec4-box h2{
		font-size: 20px!important;
	}

	.sec4-box p{
		font-size: 16px!important;
	}

	.sec4-box{
		border: none!important;
		padding: 0px!important;
	}

	/* section 4 */		

	/* section 5 */

	.mx-100-5{
		margin: 0px 30px!important;
		padding: 95px 0px!important;
	}

	.sec5-box , .sec5-box1{
		height: 100%!important;
	}	

	/* section 5 */		

	/* section 6 */

	.mx-100-6{
		margin: 50px 30px!important;
		padding: 50px 0px 50px!important;
	}

	.sec6-img{
		margin-bottom: 30px!important;
		width: 100%!important;
	}

	/* section 6 */		
	
    /* footer */

	.mx-100-7 {
		margin: 70px 30px 0px 30px !important;
	}

	.footer-logo {
		margin-bottom: 60px !important;
	}

	.footer-last-box2 {
		margin-top: 30px !important;
		justify-content: left !important;
	}

	.footer-last-ul li {
		display: inline !important;
	}

	.footer-last-box2 i {
		margin: 0px 10px 0px !important;
	}

	/* footer */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.sec1-none {
		display: none !important;
	}

	.sec1-jus {
		display: flex !important;
		justify-content: space-between !important;
	}

	.px-50-header {
		padding: 0px 50px !important;
	}

	.header-logo {
		width: 150px !important;
		margin: 18px 0px !important;
	}

	.header-btn {
		display: none !important;
	}

	.header-btn-box {
		display: block !important;
		margin: 18px 0px !important;
	}

	.header-btn-2 {
		display: flex !important;
	}

	.menu {
		display: block !important;
	}

	.log_in-header {
		display: none !important;
	}

	/* section 2 */

	.mx-100-2{
		margin: 0px 50px!important;
		padding: 96px 0px!important;
	}

	.sec2-box h1{
		width: 90%!important;
		font-size:48px!important;
	}

	.sec2-box p{
		font-size: 20px!important;
	}

	.sec2-mini {
		display: flex !important;
		flex-direction: row !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.sec2-mini input{
		width: 30% !important;
		height: 50px !important;
		margin-right: 10px !important;
		margin-bottom: 0px !important;
	}

	.sec2-mini a{
		width: 15%;
	}

	/* section 2 */	

	/* section 3 */

	.mx-100-3{
		margin: 0px 50px!important;
		padding: 80px 0px 96px!important;
	}

	.sec3-box{
		height: 100%!important;
	}

	.sec3-mini1
	{
		padding: 32px 20px 20px!important;
	}
	
	.sec3-mini2{
		padding: 32px 20px 30px!important;
	}	

	.sec3-box2-p{
		width: 73%!important;
	}


	/* section 3 */	

	/* section 4 */

	.mx-100-4{
		margin: 0px 50px!important;
		padding: 96px 0px!important;
	}

	.sec4-h2{
		font-size: 32px!important;
	}

	.sec4-box h2{
		font-size: 24px!important;
	}

	.sec4-box p{
		font-size: 16px!important;
	}

	.sec4-box{
		padding: 0px!important;
		border: none!important;
	}

	/* section 4 */	

	/* section 5 */

	.mx-100-5{
		margin: 0px 50px!important;
		padding: 95px 0px!important;
	}

	.sec5-box , .sec5-box1{
		height: 100%!important;
	}

	/* section 5 */	

	/* section 6 */

	.mx-100-6{
		margin: 50px 50px!important;
		padding: 50px 0px 50px!important;
	}

	.sec6-img{
		margin-bottom: 30px!important;
	}

	/* section 6 */	

    /* footer */

	.mx-100-7 {
		margin: 100px 50px 0px 50px !important;
	}

	.footer-logo {
		margin-bottom: 0px !important;
	}

	.footer-last-box2 {
		margin-top: 30px !important;
		justify-content: left !important;
	}

	.footer-last-ul li {
		display: inline !important;
	}

	.footer-last-box2 i {
		margin: 0px 10px 0px !important;
	}

	/* footer */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1600px) {
	.sec1-none {
		display: block !important;
	}

	.header-btn {
		display: block !important;
	}

	.header-btn-2 {
		display: none !important;
	}

	.px-50-header {
		padding: 0px 70px !important;
	}

	.menu {
		display: block !important;
	}

	.log_in-header {
		display: block !important;
	}

	/* section 2 */

	.mx-100-2{
		margin: 0px 70px!important;
		padding: 96px 0px!important;
	}

	.sec2-box h1{
		width: 50%!important;
		font-size:56px!important;
	}

	.sec2-box p{
		font-size: 22px!important;
	}

	.sec2-mini {
		display: flex !important;
		flex-direction: row !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.sec2-mini input{
		width: 20% !important;
		height: 50px !important;
		margin-right: 10px !important;
		margin-bottom: 0px !important;
	}

	.sec2-mini a{
		width: 10%;
	}

	/* section 2 */

	/* section 3 */

	.mx-100-3{
		margin: 0px 70px!important;
		padding: 0px 0px 96px!important;
	}

	.sec3-box{
		height: 720px!important;
	}

	.sec3-mini1
	{
		padding: 32px 40px 20px!important;
	}
	
	.sec3-mini2{
		padding: 32px 40px 30px!important;
	}	

	.sec3-box2-p{
		width: 100%!important;
	}

	/* section 3 */

	/* section 4 */

	.mx-100-4{
		margin: 0px 70px!important;
		padding: 96px 0px!important;
	}

	.sec4-h2{
		font-size: 40px!important;
	}

	.sec4-box h2{
		font-size: 24px!important;
	}

	.sec4-box p{
		font-size: 18px!important;
	}

	.sec4-box{
		padding: 0px!important;
		border: none!important;
	}

	/* section 4 */

	/* section 5 */

	.mx-100-5{
		margin: 0px 70px!important;
		padding: 95px 0px!important;
	}

	.sec5-box , .sec5-box1 {
		height: 100%!important;
	}

	/* section 5 */

	/* section 6 */

	.mx-100-6{
		margin: 50px 70px!important;
		padding: 80px 265px 50px!important;
	}

	.sec6-img{
		margin-bottom: 30px!important;
	}

	/* section 6 */

    /* footer */

	.mx-100-7 {
		margin: 100px 70px 0px 70px !important;
	}

	.footer-logo {
		margin-bottom: 0px !important;
	}

	.footer-last-box2 {
		margin-top: 0px !important;
		justify-content: right !important;
	}

	.footer-last-ul li {
		display: inline !important;
	}

	.footer-last-box2 i {
		margin: 0px 10px 0px !important;
	}

	/* footer */
}